.containerPanelAdministrador {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.containerPanelAdministrador section {
  /* min-width: 800px; */
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.containerPanelAdministrador aside {
  width: 250px;
}

.btnAgregar {
  padding: 5px;
  width: 150px;
  margin: 0 auto;
  background-color: #1f6193;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px;
  transition: 400ms;
  font-size: 15px;
  font-weight: 600;
}

.btnAgregar:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #133956;
}

.btnPublicar,
.btnReportes {
  padding: 5px;
  width: 100px;
  margin: 0 10px;
  background-color: #1f6193;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px;
  transition: 400ms;
  font-size: 15px;
  font-weight: 600;
}

.btnPublicar:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #133956;
}
.btnReportes:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #133956;
}

.containerPlatosAdm {
  display: flex;
  flex-wrap: wrap;
}
